* {
    box-sizing: border-box;
}

html {
    color: #1f1300;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background-color: black;
    padding: 20px;
}

#title {
    color: #228cdb;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.form-group {
    margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
    border-radius: 4px;
    font-size: 16px;
    padding: 6px;
    border: 2px solid #228cdb;
    min-width: 200px;
}

label,
.label {
    width: 350px;
    display: inline-block;
    vertical-align: top;
    color: #228cdb;
}

.radio-group,
.checkbox-group {
    display: inline-block;
}

textarea {
    height: 200px;
    width: 354px;
}

button {
    padding: 8px 12px;
    background-color: #228cdb;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    border: 2px solid #228cdb;

}

.textarea-label {
    color: #228cdb;
}